// intro page
$intro-light: #F8F8F8;
$intro-light-blue: #DADDF7;

// auth page
$auth-light-blue: #BBC1F5;
$auth-light: #F8F8F8;

// auth page
$form-border: #BBC1F5;
$input-form-bg: #BBC1F5;
$button-bg: #747373;